header {
    height: 80px;
    background-color: black;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 25px;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    width: 650px;
    height: 450px;
    margin-top: 75px;
}

section div h1 {
    font-size: 55px;
    font-weight: bold;
}

section div p {
    font-size: 30px;
    color: gray;
}

.container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info {
    margin-top: 15px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}



@media all and (max-width: 144px) {
    header {
        width: 144px;
        font-size: 10px;
    }
}

@media all and(max-width: 800px) {
    .top {
        height: 80px;
        background-color: black;
        width: 800px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 18px;
    }
}

@media all and(min-width: 800px) and (max-width: 1280px) {
    .top {
        height: 80px;
        background-color: black;
        width: 1280px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-around;
        font: size 25px;
    }
}